/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap"); */
@import url(https://fonts.googleapis.com/css?family=Rubik);

.navbar {
	background: #030529;
	height: 60px;
	font-family: "Rubik", sans-serif;
	text-align: center;
	/* color: white; */
}

.navbar ul {
	margin: 0;
}

.navbar li {
	display: inline-block;
}

.navbar a {
	color: white;
	font-size: 1.3rem;
	text-decoration: none;
	margin: 5px;
	line-height: 3;
}
