/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap"); */
@import url(https://fonts.googleapis.com/css?family=Rubik);

.navbar {
	background: #000333;
	height: 80px;
	font-family: "Rubik", sans-serif;
	text-align: center;
	align-content: center;
	color: white;
	display: flexbox;
}

.wrapper {
	text-align: center;
}

.jumbotron {
	padding: 20px;
}

.body {
	padding: 0px;
	text-align: center;
}

.footer {
	padding: 20px;
}

.img-container {
	padding: 2px;
}
